body{
    margin: 0px 0px 0px 0px;
}
#head{
    width: 100%;
    background-color: black;
    display: flex;
   

}
#head>p{
   
    color: white;
   margin: auto;
   padding-top: 7px;
   padding-bottom: 7px;
   font-family: proxima-nova, sans-serif;
   font-style: normal;
   font-weight: 700;
   Font-size: 14px

   
    
}
#head>a{
    font-family: proxima-nova, sans-serif;
      color: white;
     margin-right: 10px;
     margin-top: 10px;
}

.totalnav{
    position: fixed;
    top: 0px;
    left: 0%;
    right: 0%;
   
}
.megamenu{
    display: block;
    display: none;
    position: absolute;
    width: 14%;
    height: 320px;
    top: 100%;
    overflow: auto;
  z-index: 1;
   background-color: white;
    left: 75%;
    border: 1px solid black;
}
.show {display: block;}

.megamenu>button{
    width: 90%;
    font-family: Roboto, Arial, sans-serif;
    font-size : 20px;
    height: 45px;
   margin-left: 5%;
   margin-top: 10px;
}
.megamenu>button:nth-child(1){
    background-color: #1979BD;
    color: white;
    border: none;
    border-radius: 10px;
}
.megamenu>button:nth-child(2){
    background-color: white;
    color: #1979BD;
    border-color: #1979BD;
    border-radius: 10px;
    margin-top: 20px;
}
.megamenu>button:nth-child(1):hover{
    background-color:#0f5b8a;
}
.megamenu>button:nth-child(2):hover{
    color: #0f5b8a;
    border-color: #0f5b8a;
}
.megamenu>div:hover{
    width: 80%;
    background-color: #EFEBE9;
}

.megamenu>div>img{
    width: 20px;
    height: 20px;
    padding-top: 13px;
}
.megamenu>div{
    display: flex;
   margin-left: 15px;
   font-family:  Roboto, Arial, sans-serif;
   font-size: 14px;
}
.megamenu>div>p{
    padding-left: 10px;
}
.order{
    margin-top: 15px;
}
#nav{
    padding-top: 8px;
    padding-bottom: 0px;
    width: 100%;
    background-color: rgb(245,245,245);
    position: relative;
    display: inline-block;

}
#nav>div{
    display: flex;
    justify-content: center;
}
#nav>div>img{
    cursor: pointer;
    width: 100px;
height: 60px;
 margin-right: 1%;
 margin-top: -10px;
 

}

#nav>div>input{
   
    width: 38%;
    height: 10px;
    font-family: Roboto, Arial, sans-serif;
    font-size: 14px;

  font-weight: 400;
  color: rgb(2, 2, 2)
}
input{
    width: 100%;
    height: 80%;
    border: white;
    margin-left: 10px;
    margin-top: 3px;
    font-size: 14px;
}
input:focus{
    outline: none;
    box-shadow: none;
}
/* input::placeholder{
    
    padding-left: 10px;
} */
.box{
    width: 48%;
    height: 43px;
    display: flex;
     background-color: white;
     border: 1px solid black;
     border-radius: 5px;
}
.box>i{
   margin-right: 3%;
   margin-top: 1%;
   font-size: 30px;
   cursor: pointer;
   
}
.line{
    border: 0.8px solid #767676;
    height: 30px;
    margin-left: 10px;
    margin-top: 7px;
    align-content: center;
}
.navicons>img{
    height: 20px;
   margin-left: 35%;
   padding-top: 5px;
   
   
    
}
.navicons:hover{
    border: 2px solid #444442;
    height: 48px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.navicons{
    cursor: pointer;
    margin-left: 1%;
    height: 50px;
    margin-right: 10px;
    
    
}
.navicons>p{
    color: #020202;
    margin-top: 0;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;

}

.bagicon{
    cursor: pointer;
    margin-left: 1%;
    height: 50px;
    margin-right: 10px;

}
.bagicon:hover{
    border: 2px solid #444442;
    height: 48px;
    border-top: none;
    border-right: none;
    border-left: none;
}
.bagicon>img{
     width: 20px;
    height: 20px;
    margin-left: 20%;
    padding-top: 5px;
}
.bagicon>p{
    color: #020202;
    margin-top: 0;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
}
.belownav{
    width: 110%;
    box-shadow: rgba(0, 64, 67, 0.3) 0px 1px 0px 0px,
    rgba(60, 64, 67, 0.15) 0px 1px 0px 1px;
   
    background-color: #FEFEFE;
    margin-top: -6px;
}

.belownav>div{
    
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    
  
    display: flex;
    width: 80%;
    margin: auto;
   
   
  
    
}
.belownav>div>div{
    cursor: pointer;
    height: 45px;
    
}
.belownav>div>div:hover{
    border: 2.4px solid #444442;
    height: 43px;
    border-top: none;
    border-right: none;
    border-left: none;
}

.belownav>div>div~div{
   
   margin-left: 15px;
}
.belownav>div>div:nth-child(13){
    color: red;
}
.belownav>div>div:nth-child(14){
    display: flex;
  margin-left: 22%;
    
}
.belownav>div>div:nth-child(14)>img{
    height: 16px;
    width: 16px;
    margin-top: 14%;
   margin-right: 5px;
}
.pro{
    background-color: #d0d0bf;
    width: 60px;
    padding-left: 5px;
}
.content{
    padding-top: 150px;
    width: 79%;
    
    margin: auto;
    
}
.head{
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #222222;
}
.head span{
   margin-left: 15px;
}
.head a{
    text-decoration: none;
    color: black;
   
}
.head a:hover{
    border: 2px solid black;
    border-top: none;
    border-left: none;
    border-right: none;
}
/* ptoduct page */


.productpage{
    width: 80%;
    padding-top: 150px;
    margin: auto;
  display: flex;
}
#sidebar{
    width: 650px;
    
    
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
}
#rightbar{
    width: 2500px;
    /* border:1px solid red; */
    margin-left: 10px;
}
#rightbar>img{
    margin-top: 60px;
    margin-left: 5px;
    border-radius: 5px;
}
#sidebar>div>h3{
    font-size: 16px;
    border: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    margin-top: 45px;
    cursor: pointer;
    padding-bottom: 10px;
    line-height: 18px;
    font-weight: 700;
    color: #020202;
}
#sidebar>div>p{
    border: 1px solid #dcdcdc;
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: 14px;
    padding-bottom: 10px;
    cursor: pointer;
}
#sorttitle{
    padding-left: 800px;
   
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
}
#sort{
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    width: 150px;
    height: 30px;
    font-size: 14px;
    padding-left: 10px;
}

.cards{
    width: 220px;
    height: 500px;
    padding-left: 20px;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    

}
.cards>button{
    margin-left: 50px;
    margin-top: 20px;
    border: none;
    background-color: #0073CF;
    color: white;
    width: 100px;
    height: 30px;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bolder;
    
}
.button{
    margin-top: 0px;
}
.cards>button:hover{
    background-color: #0076BE;
}
.cards>img{
    width: 100%;
    margin: auto;
    border: 0.7px solid #dcdcdc ;
    height: 300px;
}
.price1{
    color: #cc0000;
    font-weight: bolder;
}
.price2{
   color: #767676;
   padding-left: 5px;
   font-size: 13px;
   text-decoration: line-through;
   padding-right: 30px;
}
#products{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 10px;
    
}






/* footer */

.footer{
    margin-top: 70px;
    width: 100%;
    border: 1px solid #767676;
}
.footerchild  {
    padding-top: 30px;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    font-family: Roboto, Arial, sans-serif;
    font-style: normal;
    
}
.footerchild div{
    cursor: pointer;
}
.footerchild div img {
    width: 100px;
}
.footerchild div p:nth-child(1){
  font-weight: 400;
  font-size: 18px;
  
  
}
.footerchild div p{
    margin-bottom: 20px;
    font-weight: 400;
    font-size: 14px;
}
.footerchild div p:hover{
    border: 2px solid black;
    width: 100%;
    border-top: none;
    border-left: none;
    border-right: none;
}
.footerchild div:nth-child(4){
    width: 150px;

}
.footerchild div:nth-child(2){
    width: 300px;
   border: 1px solid #767676;
   position: relative;
   right: 80px;   
   padding-left: 35px;
   border-top: none;
   border-bottom: none;
  
}
.footerchild div:nth-child(2) div{
    border: none;
    display: flex;
    position: relative;
   right: 42px; 
}

.footerchild div:nth-child(3){
    position: relative;
   right: 150px; 
} 
.footerchild div:nth-child(4){
    border: 1px solid #767676;
    position: relative;
   right: 100px;
   padding-left: 35px; 
   border-top: none;
   border-bottom: none;
   border-right: none;
   

} 
.footerchild div:nth-child(4) img{
    width: 150px;
    padding-top: 20px;
}
#incorrect{
    color: red;
    margin-left: 20px;
    font-family: Roboto, Arial, sans-serif;
}